In [ ]:
# CONVERT TO DATAFRAMES
import os
import pandas as pd

# Checking file list in 'sample_data', this file is data example from Google Colab
print(os.listdir('sample_data'))

# Read csv file
data_train = pd.read_csv('sample_data/california_housing_train.csv') 
# Display top 5 row data
data_train.head()

['anscombe.json', 'README.md', 'california_housing_test.csv', 'mnist_test.csv', 'california_housing_train.csv', 'mnist_train_small.csv']

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [ ]:
# NORMALIZATION (Transforming a whole data to 0-1 range)
# Imoporting the module
from sklearn.preprocessing import MinMaxScaler

data = [[12000000, 33], [35000000, 45], [4000000, 23], [6500000, 26], [9000000, 29]]

# Make an MinMaxScaler object as scaler
scaler = MinMaxScaler()
# Fitting data to 0-1 range
scaler.fit(data)
# Transform data to 0-1 range
scaler.transform(data)

array([[0.25806452, 0.45454545],
       [1.        , 1.        ],
       [0.        , 0.        ],
       [0.08064516, 0.13636364],
       [0.16129032, 0.27272727]])

In [ ]:
# STANDARDIZATION
# This data preparation is using the Z score that equal to (value - mean)/standard deviation
from sklearn import preprocessing

data = [[12000000, 33], [35000000, 45], [4000000, 23], [6500000, 26], [9000000, 29]]

scaler = preprocessing.StandardScaler().fit(data)
scaler.transform(data)

array([[-0.11638732,  0.23521877],
       [ 1.94277296,  1.80334389],
       [-0.83261698, -1.07155217],
       [-0.60879521, -0.67952089],
       [-0.38497344, -0.28748961]])

In [ ]:
# Split the dataset into train set and test set
# Import the module
from sklearn.model_selection import train_test_split

# Define the dataset
data_X = range(20)
data_y = range(20)

# Splitting the dataset with random state
for i in range(4):    
  X_train, X_test, y_train, y_test = train_test_split(data_X, data_y, test_size=0.3, random_state=42)
  print(y_test)
print()
# Splitting the dataset without random state
for i in range(4):
  X_train, X_test, y_train, y_test = train_test_split(data_X, data_y, test_size=0.3, random_state=None)
  print(y_test)

[0, 17, 15, 1, 8, 5]
[0, 17, 15, 1, 8, 5]
[0, 17, 15, 1, 8, 5]
[0, 17, 15, 1, 8, 5]

[5, 3, 1, 9, 4, 14]
[10, 2, 6, 11, 19, 13]
[8, 0, 9, 15, 10, 18]
[13, 8, 1, 12, 9, 18]

In [ ]:
# Train test split using iris dataset from SKLearn
# Import modul sklearn dan dataset
from sklearn import datasets
from sklearn.model_selection import train_test_split

# load iris dataset
iris_dataset = datasets.load_iris()

# Initialize the attributes for X and the label for y
X = iris_dataset.data
y = iris_dataset.target

# Splitting the iris_dataset into train data and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

print(X_test, y_test)
# The output is the 20% dataset that become a test data

[[6.1 2.8 4.7 1.2]
 [5.7 3.8 1.7 0.3]
 [7.7 2.6 6.9 2.3]
 [6.  2.9 4.5 1.5]
 [6.8 2.8 4.8 1.4]
 [5.4 3.4 1.5 0.4]
 [5.6 2.9 3.6 1.3]
 [6.9 3.1 5.1 2.3]
 [6.2 2.2 4.5 1.5]
 [5.8 2.7 3.9 1.2]
 [6.5 3.2 5.1 2. ]
 [4.8 3.  1.4 0.1]
 [5.5 3.5 1.3 0.2]
 [4.9 3.1 1.5 0.1]
 [5.1 3.8 1.5 0.3]
 [6.3 3.3 4.7 1.6]
 [6.5 3.  5.8 2.2]
 [5.6 2.5 3.9 1.1]
 [5.7 2.8 4.5 1.3]
 [6.4 2.8 5.6 2.2]
 [4.7 3.2 1.6 0.2]
 [6.1 3.  4.9 1.8]
 [5.  3.4 1.6 0.4]
 [6.4 2.8 5.6 2.1]
 [7.9 3.8 6.4 2. ]
 [6.7 3.  5.2 2.3]
 [6.7 2.5 5.8 1.8]
 [6.8 3.2 5.9 2.3]
 [4.8 3.  1.4 0.3]
 [4.8 3.1 1.6 0.2]] [1 0 2 1 1 0 1 2 1 1 2 0 0 0 0 1 2 1 1 2 0 2 0 2 2 2 2 2 0 0]

In [ ]:
# DATA EVALUATION (CROSS VALIDATION SPLIT)
from sklearn import datasets
from sklearn import tree
from sklearn.model_selection import cross_val_score

# load iris dataset
iris = datasets.load_iris()

# defining attributes and labels from dataset
X = iris.data
y = iris.target

# Making the decision tree classifier model
clf = tree.DecisionTreeClassifier()

# Checking the validation score
score = cross_val_score(clf, X, y, cv=5)
score

array([0.96666667, 0.96666667, 0.9       , 0.96666667, 1.        ])